:root {
    --gray: rgb(226, 223, 223);
    --bd-width: 1000px;
    --main-font-color: rgb(100, 98, 98);
    --main-title-color: rgb(71, 69, 69);
}

body {
    font-family: sans-serif;
    max-width: var(--bd-width);
    margin: 0 auto;
    color:rgb(66, 63, 63)
}


a {
    text-decoration: none;
}

a:visited, a:active, a:focus {
    color: black;
}


.p-description {
    font-size: 1.8rem;
    margin-top: 0;
}

.title {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
    color: var(--main-title-color);
}



/* ALL ABOUT THE NAV BAR - STARTS HERE */
header {
    position: fixed;
    inset: 0 0 auto 0;
    width: var(--bd-width);
    margin: 0 auto;
    z-index: 1;
    background-color: #fff;
}

@media only screen and (max-width: 428px) {
    body {
        margin: 0 auto;
    }

    header {
        width: 100vw;
        height: 64px;
        margin: 0;
    }
    .mobile-menu {
        width: 100vw;
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
    }


    #logo-name1, #logo-name2, body nav .logo, .menu li {
        display: none;
    }

    nav ul {
        display: none !important;
        padding: 0 !important;
    }
}

@media only screen and (min-width: 429px)  {
    .mobile-menu {
        display: none;
    }
    .blog-pic .mobile-pic {
        display: none;
    }

}

nav {
    height: 64px;
    font-size: 1.175rem;
    display: flex;
    justify-content: space-between;
}

nav .logo {
    padding-left: 24px;
    align-items: center;
    display: flex;
}

nav .logo a {
    align-items: center;
    display: flex;
}

nav .menu {
    display: flex;
    padding-right: 6px;
    
}

nav ul {
    float: right;
    margin: auto 0;
    padding: auto 0;
}

nav ul li {
    display: inline-block;
    padding: 0 16px 0 0;
    
}

nav ul li a {
    text-decoration: none;
    color: var(--main-title-color);
    font-weight: 500;
}

#logo-name2 {
    color: var(--main-font-color);
    font-weight: 500;
}



/* END OF NAV BAR STYLES */

/* FIRST SECTION */

.banner-container {
    position: relative;
    top: 64px;
    background-color: var(--gray);
    display: flex;
    width: var(--bd-width);
    margin: 0 auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

 @media only screen and (max-width: 428px) {
    .banner-container {
        display: block;
        width: 100vw;
        border: 0;
    }
    main .photo-container {
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    main .photo-container img {
        width: 100vw;
        margin: 0;
        padding: 0;
    }
    
    main .info-content {
        width: 100vw;
        margin: 0;
        padding: 0;
    }
    
    main .info-content h1 {
        margin: 32px 16px;
        font-size: 2.25rem;
    }
    
    #start-here-btn span {
        font-size: 1.2rem;
    }

    #start-here-btn {
        margin: 0 auto;
        margin-bottom: 32px;
       
    }

    main .info-content #start-here-btn {
        background-color: rgb(121, 119, 119);
    }

    main .p-description {
        font-size: 1.2rem;
        margin-bottom: 24px;
        margin-left: 16px;
    }
}

.photo-container {
    width: 50%;
}

.photo-container img {
    width: 93%;
    padding: 32px 24px;
}

.info-content {
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.info-content h1 {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
    color: var(--main-title-color);;
}


.info-content #start-here-btn {
    background-color: rgb(66, 63, 63);
    
    text-align: center;
    padding: 8px 0;
    font-size: 1.2rem;
    width: 60%;
}

#start-here-btn a {
    color: white;
}

/* BLOG SECTION */

/* BLOG PART */
.blog-container {
    position: relative;
    top: 64px;
    background-color: #fff;
    display: flex;
    width: var(--bd-width);
    margin: 0 auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.blog-photo-container {
    display: block;
    width: 50%;
    border-right: 1px solid var(--gray);
}

.blog-photo-container img {
    width: 93%;
    padding: 32px 24px;
}

.blog-description {
    padding-left: 24px;
}

.blog-description h2 {
    font-size: 2.2rem;
    margin: 0 0 1.5rem 0;
    color: var(--main-title-color);
}

.blog-description p {
    font-size: 1rem;
    margin-top: 0;

}

.blog-author {
    font-size: 1rem;
    margin: 0;
    padding: 32px 0;
}

@media only screen and (max-width: 428px) {
    .blog-photo-container {
        display: none;
    }

    .blog-container {
        display: block;
        width: 100vw;
        border: 0;
    }

    .blog-container .blog-content {
        width: 100vw;
    }
    .blog-content .blog-row {
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items:center;
        justify-content: center;
    }

    .blog-content .blog-pic {
        width: 100vw;
    }
    .blog-pic .mobile-pic {
        width: 92.5vw;
        padding: 16px 16px;
    }
    img.mobile-pic  {
        margin: 0;
        padding: 0;
    }

    .blog-row .blog-news {
        width: 100vw;
        padding-top: 0;
        padding-bottom: 16px;
        margin-left: 16px;
    }

    .blog-pic .desktop-pic {
        display: none;
    }

    .blog-news .blog-title {
        font-size: 1.5rem;
        margin: 0 16px;
    }

    .blog-news span {
        font-size: 1rem;
        margin: 10px 16px;
    }
    .blog-news #read-more-btn {
        font-size: 1rem;
        margin: 5px 16px;
        padding: 0;
    }

    .blog-news .blog-news-description {
        padding: 0;
        margin: 5px 16px;
    }
}

/* END OF BLOG PART */

/* INIT OF NEWS PART */

.blog-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blog-row {
    display: flex;
    border-top: 1px solid var(--gray);
    border-bottom: 1px solid var(--gray);
}

.blog-row:hover {
    background-color: var(--gray);
}

.blog-row:first-child {
    border: 0px solid #fff;
 
}

.blog-row:last-child {
    border: 0px solid #fff;
 
}

.blog-pic img {
    padding: 16px;
    width: 160px;
}

.blog-news {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 32px 0;
}

.blog-news-description {
    padding-top: 8px;
    font-size: 1rem;
}

.blog-title {
    font-size: 1.5rem;
    color: var(--main-title-color);
}

#read-more-btn {
    color:rgb(61, 157, 221);
    padding-top: 8px;
    font-weight: 500;
}

/* BLOG FINISH */

/* COURSES START */

.courses {
    position: relative;
    top: 64px;
    background-color: var(--gray);
    display: flex;
    width: var(--bd-width);
    margin: 0 auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
}

.courses-title {
    text-align: center;
    margin: 0;
    padding: 0;
    height: auto;
    color: var(--main-title-color);
    
}
.courses-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 72px;
    padding-bottom: 32px;
}

.courses-card {
    width: 270px;
    flex-grow: 0;
}

.courses-card:nth-child(-n+3){
    margin-bottom: 16px;
}
.courses-pic img {
    width: 100%;
    height: auto;
}

.courses-description {
    background-color: #fff;
    height: 145px;
    flex-grow: 0;
    padding-top: 16px;
    line-height: 1.2rem;
}

.courses-title {
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--main-title-color);
    margin-left: 16px;
}



.courses-header h2 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--main-title-color);
    text-align: center;
    margin: 0;
    padding: 32px 0;
}

.courses-p {
    color: var(--main-font-color);
    margin-left: 16px;


}
#courses-detail {
    color: var(--main-font-color);
    font-size: .9rem;
    margin-bottom: 24px;
    margin-left: 16px;
}

@media only screen and (max-width: 428px) {
    .courses {
        width: 100vw;
        border: 0;
        background-color: #fff;
        border-top: 1px solid var(--gray);
    }

    .courses-container {
        display: none;
    }

    .mobile-crs-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .crs-mb-btn {
        width: 80vw;
        background-color: var(--gray);
        padding: 16px;
        margin: 8px;
    }
}

@media only screen and (min-width: 429px) {
    .mobile-crs-container {
        display: none;
    }
}

/* COURSES SECTION END */

/* THESIS SECTION INIT */

.thesis {
    position: relative;
    top: 64px;
    background-color: #fff;
    width: var(--bd-width);
    margin: 0 auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.thesis-title {
    text-align: center;
    margin: 0;
    padding: 0;
    height: auto;
    color: var(--main-title-color);
    
}

.thesis-title h2 {
    margin: 0;
    padding: 32px 0;
    font-size: 2rem;
}

.thesis-container {
    display: flex;
    width: 100%;
}

.vid-container {
    display: block;
    width: 50%;
    border-right: 1px solid var(--gray);
}

.vid-container video {
    width: 93%;
    padding: 0 24px;
}

.vid-description {
    margin-left: 24px;
}

.vid-description h2 {
    margin: 24px 0;
}

.thesis-news {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 428px) {
    .thesis {
        width: 100vw;
        border: 0;
    }

    .vid-container, .vid-container video {
        width: 99vw;
        padding: 0;
        margin: 0;
    }

    .vid-description, .vid-description h2, .thesis-news {
        display: none;
    }
}

/* THESIS SECTION END */

/* FOOTER START */

footer {
    position: relative;
    top: 64px; 
    width: var(--bd-width);
    margin: 0 auto;;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid var(--gray);
    padding-top: 16px;
    padding-bottom: 20px;
    font-size: .8rem;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

footer ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

footer ul li {
    margin: 0 5px;
}

@media only screen and (max-width: 428px) {
    footer {
        width: 100vw;
        border: 0;
    }
}